@media only screen and (min-width:200px) and (max-width:575px) {
    .mfixed {
        display: flex;
        width: 100%;
        position: fixed;
        bottom: 0;
        background-color: var(--darkblue);
        font-size: 16px;
        text-align: center;
        z-index: 999999;
    }

    .mfixed div {
        width: 33.33%;
        text-align: center;
        border-right: 1px solid white;
        padding: 10px;
    }

    .mfixed div a {
        color: white;
    }

    .mfixed div:last-child a i {
        background-color: #4caf50;
        color: white;
        border-radius: 50%;
    }


    .menu {
        display: none;
    }

    .banner-bottom-call {
        margin-top: 20px;
    }

    nav {
        background-color: var(--darkblue);
    }

    .mplay {
        display: block;
        padding: 10px 20px;
        font-size: 40px;
        color: white;
        margin: 20px;
        background-color: transparent;
        border: none;
    }


    nav figure,
    #section1,
    #section2,
    .aboutbuilding,
    #section6 main,
    .subsection7_1 article,
    .Goal p,
    .cardX figure,
    #section9 main article,
    #section9 main figure,
    .subsection10_2_1 figure,
    footer,
    .boxX,
    #gallery2 iframe,
    .again article,
    .neighborhood,
    .contactus,
    .contactme,
    .sell,
    .room,
    .taxis,
    .gallerycrew,
    .tables,
    .formforenquiry,
    .boximg {
        padding: 20px;
    }

    .subsection10_2_1 figure {
        margin: 0;
    }

    #section2,
    .subsection6,
    #section9,
    #location2 {
        background-size: cover;
    }

    .sec4head {
        gap: 50px;
        text-align: center;
    }

    .newcards {
        margin-top: 50px;
    }

    #section1 .flex,
    #section2 .flex,
    .cards,
    .sec4head,
    .newcards,
    #section5 .flex,
    .subsection6 .flex,
    .subsection7_1,
    .cardX,
    #section9 main,
    .kara,
    #section10 main,
    .subsection10_2_1,
    .bbl>.flex,
    .no,
    .ok,
    .boxX,
    .again,
    .neighborhood,
    .tables,
    .bingo,
    .contactus,
    .contactme,
    .sell,
    .room,
    .chotamenu ul,
    .mahi,
    .amneities,
    .taxis,
    .gallerycrew,
    .formforenquiry,
    .boximg {
        flex-direction: column;
    }

    .building,
    .aboutbuilding,
    .subsection6_1,
    .subsection6_2,
    .subsection7_1 figure,
    .subsection7_1 article,
    #section9 main figure,
    #section9 main article,
    .again figure,
    .again article {
        position: static;
    }

    .card {
        margin: 0 20px;
        padding: 100px 0;
    }

    .bingo {
        align-items: center;
    }

    .bingo figure {
        padding: 20px;
        width: 100%;
    }

    .bingo figure img {
        min-width: 200px;
        max-width: 250px;

    }

    .subsection10_1,
    .subsection10_2_1 {
        border: none;
    }

    .box figure {
        width: 200px;
        margin: auto;
    }

    .box figure img {
        width: 50%;
    }

    .boxX,
    .taxis,
    .gallerycrew,
    .tables,
    .sell,
    .formforenquiry,
    .boximg {
        gap: 30px;
    }

    .insider {
        padding: 20px;
    }

    .fixed {
        top: 50%;
    }

    .bannercontent {
        padding: 30px;
    }

    .insider h3 {
        font-size: 40px;
    }

    .site_plan,
    .contact {
        height: unset;
    }

    .tobeoverlapped {
        margin: 0;
        padding-right: 30px;
    }

    .sell article {
        align-items: center;
    }

    .sell article h3 {
        font-size: 24px;
    }

    .orderswitch {
        flex-direction: column-reverse;
    }

    .chotamenu ul {
        align-items: center;
        gap: 30px;
    }

    .mahi table {
        order: 1;
    }

    .mahi figure {
        order: 2;
    }

    .mahi article {
        order: 3;
    }

    .BhK2,
    .BhK3 {
        height: 85vh;
    }

    #Bhk2-sub5 iframe {
        height: 300px;
    }

    .fixedSlider {
        display: block;
        overflow-y: auto;
    }
}